body {
    background-color: #C5C1C0;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: 500;
}

h2 {
    font-size: 1.3rem;
    margin: 10px;
}

img {
    width: 100%;
}

input {
    background-color: #fff;
    width: 100%;
    padding: 10px;

    border: none;
    border-radius: 8px;

    font-size: 1.5rem;

    box-sizing: border-box;
}
input:focus {
    background-color: #E8F0FD;
    outline: none;
}


.container {
    background-color: #fff;
    margin: auto;
    width: 900px;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
    margin: 12px 0px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    box-sizing: border-box;
}
.menu_title {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.1rem;
    font-weight: 700;
}

.cards {
    margin: 0px 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.card {
    width: 100%;
    margin: 25px;
    padding: 10px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1rem;
    font-weight: 700;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.price {
    font-size: 1.3rem;
    font-weight: 700;
    color: #1F5C20;
}

.personal_data {
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.forms {
    width: 85%;
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.btn_calc {
    background-color: #0069D9;
    width: 100%;
    margin-top: 12px;
    border-radius: 4px;
    border: none;
    padding: 16px;

    font-size: 1.2rem;
    color: #fff;
}
.btn_calc:focus {
    outline: none;
}
.btn_calc:hover {
    cursor: pointer     ;
}